@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

div#container{
    padding: 20px;
    background-color: white;
    height: 500px;
    width: 400px;
    border-radius: 18px;
}

/* formulário */

form#search{
    display: flex;
    justify-content: space-between;
}

input#input{
    width: 83%;
    height: 30px;
    padding: 3px 8px;
    outline: none;
    font-size: 15px;
    border: 1px solid gray;
    border-right: none;
    border-radius: 10px 0 0 10px;
}

button#bt_search{
    cursor: pointer;
    font-size: 10px;
    width: 17%;
    background-color: #0093E9;
    border-radius: 0 10px 10px 0;
    border: none;
}

button#bt_search:hover{
    background-color: #0280c9;
}